body {
    font-family: "Cairo", sans-serif;
    margin: 0;
    background: #f7f8fc;
    color: #111;
}
/* ▬▬▬ Top Bar ▬▬▬ */
.top-bar .center{
    background: #0c1330;
    color: white;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between ;
    font-size: 14px;
}
/* NAVBAR GLOBAL STYLE */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo img {
    height: 45px;
}

.menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #000839;
    transition: 0.3s;
    padding: 6px 18px;
    border-radius: 6px;
}

.menu a.active {
    background: #ffeeec;
    color: #d74424;
}

.menu a:hover {
    color: #d74424;
}

.start-btn {
    background: #0f3c2f;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.start-btn:hover {
    opacity: 0.8;
}

.lang {
    font-size: 18px;
    margin-left: 25px;
    cursor: pointer;
    color: #000839;
}
.top {
    text-align: center;
    padding: 40px 20px;
}

.top h1 {
    font-size: 35px;
    color: #0e204b;
}

.top p {
    color: #444;
    margin-top: 10px;
    font-size: 18px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.switcher {
    margin-top: 25px;
}

.switcher button {
    padding: 10px 30px;
    margin: 5px;
    font-size: 17px;
    border-radius: 30px;
    border: 1px solid #bbb;
    background: #fff;
    cursor: pointer;
}

.switcher .active {
    background: #e95c35;
    color: white;
    border-color: #e95c35;
}

.discount {
    background: #ddd;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 13px;
}

/* ------------------------- */
/* CARDS */
/* ------------------------- */

.pricing-section {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 30px;
}

.card {
    width: 260px;
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    text-align: center;
    position: relative;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-8px);
}

.card .price {
    font-size: 28px;
    color: #0e204b;
    font-weight: bold;
}

.card .price span {
    font-size: 16px;
    color: #333;
}

.trial {
    margin-top: -10px;
    font-size: 15px;
    color: #666;
}

ul {
    text-align: right;
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

ul li {
    padding: 7px 0;
    font-size: 15px;
    color: #333;
}

.ok {
    color: #e64a3b;
    margin-left: 6px;
}

.no {
    color: #999;
    margin-left: 6px;
}

/* popular card */

.popular {
    border: 3px solid #0e204b;
    transform: scale(1.05);
}

.tag {
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    width: fit-content;
    padding: 5px 14px;
    margin: auto;
    background: #0e204b;
    color: white;
    border-radius: 20px;
    font-size: 14px;
}

/* Buttons */
.btn {
    display: block;
    margin-top: 20px;
    padding: 12px;
    background: #e95c35;
    color: white;
    border-radius: 9px;
    text-decoration: none;
    font-size: 16px;
}

.btn-outline {
    display: block;
    margin-top: 20px;
    padding: 12px;
    background: transparent;
    border: 2px solid #e95c35;
    color: #e95c35;
    border-radius: 9px;
    text-decoration: none;
    font-size: 16px;
}
